* {
    margin: 0;
    padding: 0;	
  }

  #play-button {
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 2em;
  }
  
  #prompt-container {
    font-family: Courier New, Courier, monospace;
    font-size: 24px;
    letter-spacing: 3px;
  }

  #target {
    display: none;
  }
  
  #yellow-block {
    position: absolute;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: yellow;
  }

  #keyboard-upper-container {
      display: none;
  }
  
  .keyboard-container {
    margin-top: 200px;
  }
  
  #target-letter {
    font-size: 38px;  
  }
  
  .keys-row {
    margin-top: 40px;
    padding: 10px 0;
  }
  
  #feedback {
    font-size: 20px;
  }
  .glyphicon-ok {
    color: #1DA237
  }
  
  .glyphicon-remove {
    color : #CD2626
  }